*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family: Raleway;
    background-color: #000000;
}

/* Geral */

button, h2{
    letter-spacing: 4px;
}

h1{
    text-transform: uppercase;
    font-weight: 900;
}

a{
    text-decoration: none;
    color: #33A8DB;
    font-weight: bold;
}

/* header, banner, banner-content, logo */
.banner{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    padding-top: 40px;
    background-image:
        url('../assets/images/banner.png'),
        linear-gradient(rgba(0, 0, 0, .6), rgba(49, 168, 221, .2), rgba(0, 0, 0, .6));
        /* linear-gradient(0deg,rgba(0, 0, 0, 1) 15%, rgba(10, 36, 47, 1) 47%, rgba(10, 36, 47, 1) 52%, rgba(0, 0, 0, 1) 86%); */
    background-size: cover;
}    

.banner-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 56px;
    width: 510px;
    height: 393px;
}    

.banner-content h1{
    background-image: linear-gradient(#33A8DB, #1472B7);
    -webkit-background-clip: text;
    color: transparent;
    background-clip: text;
    font-size: 2.5rem;
    margin: 0;
}    

.banner-content p{
    font-size: 1.25rem;
    text-align: center;
    font-weight: 400;
    color: #ffffff
}    

.banner-content button{
    background-image: linear-gradient(#3BA1CD, #1572B7);
    -webkit-background-clip: text;
    color: transparent;
    background-clip: text;
    text-transform: uppercase;
    border-image-source: linear-gradient(#3BA1CD, #1572B7);
    border-width: 2px;
    border-image-slice: 2;
    padding: 15px 50px;
    font-weight: bold;
}    

.logo{
    height: 260px;
    width: 260px;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    padding: 16px;
}    

.logo img{
    margin: auto;
    width: 100%;
    height: 100%;
    object-fit: contain;
}    

/* main, sections */

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* box-sizing: border-box; */
}

main h2{
    color: #33A8DB;
    text-transform: uppercase;
    text-align: center;
    font-size: 32px;
    margin: 0 0 24px;
}

main p{
    color: #ffffff;
}

#course-content{
    height: 100vh;
    width: 100%;
    text-align: center;
    padding-top: 100px;
    /* box-sizing: border-box; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

#course-content p{
    text-align: center;
    width: 800px;
}

.modules-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.module{
    background-color: #252525;
    color: #ffffff;
    border: 1px solid #33A8DB;
    background-color: #252525;
    padding: 16px;
    border-radius: 100px;
    width: 530px;
    box-shadow: inset -5px 6px 8px rgba(0, 0, 0, .7);
    margin: 0 auto 24px
}

.module span{
    color: #33A8D8;
}

#transform-world{
    height: 100vh;
    width: 100%;
    background-image: url("../assets/images/woman-code.png");
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    align-items: center;
}

#transform-world p{
    font-size: 2.5rem;
    text-shadow: 3px 2px #33A8DB;
    font-weight: 900;
    text-transform: lowercase;
    width: 30%;
    padding-left: 15%;
}

#professional-challenges{
    height: 80vh;
    width: 100%;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#professional-challenges h2{
    width: 800px;
}

#professional-challenges p{
    width: 800px;
    text-align: center;
}

#professional-challenges img{
    height: 46%;
}

footer{
    height: 20vh;
    background-image: linear-gradient(rgba(50, 168, 219, .0), rgba(50, 168, 219, .2));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer p{
    color: #ffffff;
    margin: 0;
}

.banner, #course-content, #transform-world, #professional-challenges{
    border-bottom: 1px solid #33A8DB80;
}